{% load static %}
<!DOCTYPE html>
<html lang="en" x-data="{ open: true }" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    {% if site_settings.favicon %}
    <link rel="shortcut icon" href="{{ site_settings.favicon.url }}" type="image/x-icon">
    {% else %}
    <link rel="shortcut icon" href="{% static 'assets-p/logo/logo.png' %}" type="image/x-icon">
    {% endif %}
    <!-- <link rel="shortcut icon" href="./images/logo/favicon.png" type="image/x-icon"> -->
    <!-- tailwind + daisy ui cdn -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- font-awesome cdn-->
    <script src="https://kit.fontawesome.com/8d42debf19.js" crossorigin="anonymous"></script>
    <!-- alpine js -->
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</head>

<body class="flex h-full bg-gray-100">
    
    <!-- Sidebar -->
    {% block sidebar %}

    {% include 'dashboard-sidebar.html' %}

    {% endblock sidebar %}

    <!-- Main content -->
    {% block main-dashboard %}
    <main class="flex-1 p-6">
        <div class="navbar bg-base-100 shadow-sm col-span-5">
            <div class="btn-bar">
    <a class="btn-primary" href="{% url 'home' %}">Home</a>
    <a class="btn-primary" href="{% url 'hsc_science_admission' %}">Science Admission</a>
    <a class="btn-primary" href="{% url 'science_students' %}">Science Student Infos</a>
    <a class="btn-primary" href="{% url 'user_logout' %}">Log Out</a>
  </div>
            <div class="navbar-start">
              {% if site_settings.logo %}
                <a href="/index.html" class="flex justify-center items-center">
                    <img class="md:w-36 sm:w-24 w-16 min-w-10 lg:px-5 sm:px-2" src="{{ site_settings.logo.url }}"
                        alt="Pochamaria Degree College">
                </a>
                <!-- <a class="btn btn-ghost text-xl">
                    <img src="images/logo/logo-light-text.png" alt="JBD Academy" srcset="JBD Academy"
                        class="w-auto max-h-13">
                </a> -->
                {% endif %}
                
            </div>
            <div class="navbar-end">
                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                            <img alt="Tailwind CSS Navbar component"
                                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp" />
                        </div>
                    </div>
                    <ul tabindex="0"
                        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                        <li>
                            <a class="justify-between">
                                Profile
                                <span class="badge">New</span>
                            </a>
                        </li>
                        <li><a>Settings</a></li>
                        <li><a>Logout</a></li>
                    </ul>
                </div>
            </div>



        </div>
        <div class="grid md:grid-cols-2 grid-cols-1 lg:grid-cols-3 gap-4 mt-4  p-4 rounded-lg bg-white shadow">
            <div class="flex flex-col justify-center items-center bg-white hover:shadow-md transition-all duration-300  p-4 rounded-lg shadow">
                 <div class="text-2xl text-blue-800 font-bold">123</div>
                <div>
                    <h1 class="text-2xl font-bold flex justify-start items-center text-[#424B59] gap-4"><i class="fa-solid fa-user"></i><span>Science</span></h1>
                </div>
               
            </div>
            <div class="flex flex-col justify-center items-center bg-white hover:shadow-md transition-all duration-300  p-4 rounded-lg shadow">
                 <div class="text-2xl text-blue-800 font-bold">123</div>
                <div>
                    <h1 class="text-2xl font-bold flex justify-start items-center text-[#424B59] gap-4"><i class="fa-solid fa-user"></i><span>Arts</span></h1>
                </div>
               
            </div>
            <div class="flex flex-col justify-center items-center bg-white hover:shadow-md transition-all duration-300  p-4 rounded-lg shadow">
                 <div class="text-2xl text-blue-800 font-bold">123</div>
                <div>
                    <h1 class="text-2xl font-bold flex justify-start items-center text-[#424B59] gap-4"><i class="fa-solid fa-user"></i><span>Commerce</span></h1>
                </div>
               
            </div>
           

        </div>
    </main>
    {% endblock main-dashboard %}
    

</body>

</html>