<header class="max-w-[1200px] mx-auto">
        <nav class="bg-[#002147] flex justify-between items-center rounded-b-3xl text-white max-h-[140px] p-5 ">
            <!-- logo part -->
             {% if site_settings %}
                
                <div class="lg:px-5 md:px-2  flex ">
                {% if site_settings.logo %}
                <a href="/index.html" class="flex justify-center items-center">
                    <img class="md:w-36 sm:w-24 w-16 min-w-10 lg:px-5 sm:px-2" src="{{ site_settings.logo.url }}"
                        alt="Pochamaria Degree College">
                </a>
                {% endif %}
                <div class="py-3 text-left flex justify-center items-start flex-col">
                    {% if site_settings.institution_name %}
                    <h1 class="text-xl md:text-2xl lg:text-4xl font-extrabold leading-tight">
                        {{ site_settings.institution_name }} 
                    </h1>
                    {% endif %}
                    {% if site_settings.institution_description %}
                    <h2 class="text-xs md:text-base lg:text-xl font-bold leading-snug">
                        {{ site_settings.institution_description }} 
                    </h2>
                    {% endif %}
                </div>

            </div>
            {% else %}
            <div class="lg:px-5 md:px-2  flex ">
                <a href="/index.html" class="flex justify-center items-center">
                    <img class="md:w-36 sm:w-24 w-16 min-w-10 lg:px-5 sm:px-2" src="#"
                        alt="Pochamaria Degree College">
                </a>
                <div class="py-3 text-left flex justify-center items-start flex-col">
                    <h1 class="text-xl md:text-2xl lg:text-4xl font-extrabold leading-tight">
                        Pochamaria Degree College
                    </h1>
                    <h2 class="text-xs md:text-base lg:text-xl font-bold leading-snug">
                        Online Admission System
                    </h2>
                </div>
            {% endif %}

            

            <!-- large device nav item -->
            <div class=" text-white lg:gap-2 flex  justify-center lg:p-2 ">
                <!--  nav item-1 -->

                <div class="relative flex justify-end">
                    <a href="{% url 'profile' %}"
                        class="btn flex flex-nowrap text-nowrap text-center rounded-md bg-[#347C17] text-white btn-xs md:btn-sm  text-xs lg:text-sm md:font-semibold   shadow-xs  ring-inset hover:bg-[#347c17a7]">
                        <i class="fa-solid fa-lock sm:flex hidden"></i><span>Admin Panel</span>
                    </a>
                </div>

            </div>


        </nav>
        <nav class="rounded-xl bg-[#347C17] p-2 flex justify-center md:text-base text-sm items-center flex-wrap gap-2">
            <a href="{% url 'home' %}" class="px-2 text-sm py-1 border-none text-white hover:text-green-200 bg-transparent"><i
                    class="fas fa-home"></i> Home
            </a>
            <!-- drop down start -->
            <div class="relative inline-block text-left">
                <details class="dropdown">
                    <summary
                        class="px-2 text-sm py-1 shadow-none hover:text-green-200 btn btn-sm bg-[#347C17] border-none hover:bg-[#347C17] text-white">
                        <i class="fa-solid fa-rectangle-list mr-2"></i> Admission Form Hsc
                    </summary>
                    <ul class="menu dropdown-content bg-white text-black rounded z-10 w-32 shadow-sm">
                        <li class="text-center text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">
                            <a href="{% url 'hsc_science_admission' %}"
                                class="block px-4 py-2 hover:text-white hover:bg-[#347C17]">
                                Science
                            </a>
                        </li>
                        <li class="text-center text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">
                            <a href="https://cms.pochamariacollege.edu.bd/form/humanities.php"
                                class="block px-4 py-2 hover:text-white hover:bg-[#347C17]">
                                Humanities
                            </a>
                        </li>
                        <li class="text-center text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">
                            <a href="https://cms.pochamariacollege.edu.bd/form/business.php"
                                class="block px-4 py-2 hover:text-white hover:bg-[#347C17]">
                                Business
                            </a>
                        </li>
                    </ul>
                </details>
            </div>
            <div class="relative inline-block text-left">
                <details class="dropdown">
                    <summary
                        class="px-2 text-sm py-1 shadow-none hover:text-green-200 btn btn-sm bg-[#347C17] border-none hover:bg-[#347C17] text-white">
                        <i class="fa-solid fa-rectangle-list mr-2"></i> Admission Form Degree
                    </summary>
                    <ul class="menu dropdown-content bg-white text-black rounded z-10 w-32 shadow-sm">
                        <li class="text-center text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">
                            <a href="https://cms.pochamariacollege.edu.bd/degree/ba"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">BA</a>

                        </li>
                        <li class="text-center text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">
                            <a href="https://cms.pochamariacollege.edu.bd/degree/bss"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">BBS</a>

                        </li>
                        <li class="text-center text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">
                            <a href="https://cms.pochamariacollege.edu.bd/degree/bbs"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">BSS</a>

                        </li>
                        <li class="text-center text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">
                            <a href="https://cms.pochamariacollege.edu.bd/degree/bsc"
                                class="block px-4 py-2 text-sm text-gray-700 hover:bg-[#347C17] hover:text-white">BSC</a>

                        </li>
                    </ul>
                </details>
            </div>


            <!-- drop down end -->

            <a href="#" class="px-2 text-sm py-1 border-none text-white hover:text-green-200 bg-transparent">
                <i class="fas fa-credit-card"></i> All Payments
            </a>
            <a href="#" class="px-2 text-sm py-1 border-none text-white hover:text-green-200 bg-transparent">
                <i class="fa-solid fa-square-poll-horizontal"></i> Result
            </a>

            <a href="{% url 'contact' %}" class="px-2 text-sm py-1 border-none text-white hover:text-green-200 bg-transparent">
                <i class="fas fa-address-book"></i> Contact
            </a>
        </nav>

    </header>